# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.dist-info/
*.egg-info/
*.egg

# BeeWare
dist/*.aab
dist/*.apk  # Игнорируем APK в dist, но не в build
logs/
.briefcase/

# Build (но оставляем доступ к результатам)
build/*/ios/
build/*/windows/
build/*/linux/
build/*/macos/
# APK в папке build НЕ игнорируем!

# IDE
.idea/
*.iml
.vscode/

# System
.DS_Store
Thumbs.db
desktop.ini

# Temporary files
*.log
*.tmp
*.temp